.search-button {
    background-color: var(--background-primary);
    border-radius: 5px;
    height: 2em;
    display: flex;
    align-items: left;
    min-width: 150px;
    margin: 10px 40px 10px 10px;
    border: 1px solid var(--background-modifier-border);
    cursor: pointer;
}

.search-box {
    transform: translateY(100px);
    background-color: var(--background-primary);
    max-width: 80%;
    width: 900px;
    border-radius: 8px;
    padding: 10px;
    height: fit-content;
}
